<div>
<table id="menu" width="90%">
  <thead>
    <tr>
      <td width="80%" id="celdamenu">Tema</td>
      <td width="10%" id="celdamenu"></td>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN cargar_temas -->
    <tr>
      <td width="80%" id="celdaresul">{tema}</td>
      <td width="10%" id="celdaresul">
        <img src="./imgs/trash32.png" id="itemsagenda" title="Eliminar" onclick="
          if(confirm('Recuerde que para eliminar un Tema, este no debe tener Normas ni Pautas asociadas ¿Seguro desea eliminar el Tema?')){xajax_eliminar_tema('{idtema}');}">
      </td>
    </tr>
    <!-- END cargar_temas -->
  </tbody>
</table>
<table id="transparente" width="90%"><TR>
<TD align="center" width="33%"><a id="link" href="#" onclick="xajax_form_temas('{pagina_prev}');">{prev}</a></TD>
<TD align="center" width="33%"><a id="link" href="#" onclick="xajax_form_temas('{pagina}');">{pagina}</a></TD>
<TD align="center" width="33%"><a id="link" href="#" onclick="xajax_form_temas('{pagina_prox}');">{prox}</a></TD>
</TR></table>
</div>