<div>
<h2 id="subtitulo">Cambio de Contraseña</h2><br>
<table cellspacing="6px" id="transparente">
  <tbody>
    <tr>
      <td>Contraseña:</td>
      <td><INPUT type="password" id="pass1" maxlength="20"></td>
    </tr>
    <tr>
      <td>Repetir Contraseña:</td>
      <td>
        <INPUT type="password" id="pass2" maxlength="20" onpaste="alert('Se ha deshabilitado la opción copiar y pegar para este campo, debe repetir la contraseña');return false;">
      </td>
    </tr>
    <tr><TD></TD><TD></TD></tr>
    <tr><TD></TD><TD></TD></tr>
    <tr>
      <td><a href="index.php" id="link">Cancelar</a></td>
      <td align="right">
        <INPUT type="submit" name="modificar" value="Modificar" onclick="xajax_cambiar_password(
              document.getElementById('pass1').value,
              document.getElementById('pass2').value);">
      </td>
    </tr>
  </tbody>
  </table>
</div>