<div>
<h2 id="subtitulo">Listado de Contactos asociados a la Norma elegida</h2><br>
<table width="98%" id="menu" style="margin-left:6px;">
  <thead>
    <tr>
      <td width="50%" id="celdamenu">Contacto</td>
      <td width="6%" id="celdamenu"></td>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN cargar_contactos -->
    <tr>
      <td width="50%" id="celdaresul">&nbsp;{contacto}</td>
      <td width="6%" id="celdaresul" align="center">
        <img src="./imgs/trash32.png" id="itemsagenda" title="Quitar" onclick="
          if(confirm('Esta por eliminar la asociación entre una Norma y un Contacto, ¿seguro desea elininarla?')){xajax_desasociar_contacto_norma('{idcontacto}','{idnorma}');}">
      </td>
    </tr>
    <!-- END cargar_contactos -->
  </tbody>
</table>
<br><br>
<h2 id="subtitulo">Asociar otro Contacto:</h2><br>
<table id="transparente" width="98%">
    <td width="40%">
          <SELECT name="select_contacto" id="idcontacto" style="width:80%;">
            <!-- BEGIN cargar_select_contactos -->
            <OPTION value="{id_contacto}">{nombre_contacto}</OPTION>
            <!-- END cargar_select_contactos -->
          </SELECT>
    </td>
    <td width="20%">
      <INPUT type="button" name="asociar" value="Asociar"
        onclick="xajax_asociar_contacto_norma('{idnorma}',document.getElementById('idcontacto').value);">
    </td>
  </tr>
</table>
<br>
<a id="link" href="{via_link}" {via_ajax} style="margin:4px;">Volver</a>
</div>